table{
    width: 100%;
    border-collapse: collapse;
}

td{
    border: 1px solid rgb(64,64,64);
    position: relative;
}

td.w4{ width: 25%; }
td.h4{ padding-top: 25%; }
td.w6{ width: 16.67%; }
td.h6{ padding-top: 16.67%; }
td.w8{ width: 12.5%; }
td.h8{ padding-top: 12.5%; }
td.w10{ width: 10%; }
td.h10{ padding-top: 10%; }


td.Empty{ background: rgb(206, 206, 206); }
td.Pit{ background: url('assets/wumpus/pit.svg') center center/cover no-repeat rgb(224, 107, 107); }
td.Wumpus{ background: url('assets/wumpus/wumpus.svg') center center/cover no-repeat rgb(224, 107, 107); }
td.Gold{ background: url('assets/wumpus/gold.svg') center center/cover no-repeat rgb(206, 206, 206); }
td.u{ filter: brightness(50%); }

td.t0{ background: rgb(206, 206, 206); }
td.t1{ background: url('assets/wumpus/pit.svg') center center/cover no-repeat rgb(224, 107, 107); }
td.t2{ background: url('assets/wumpus/wumpus.svg') center center/cover no-repeat rgb(224, 107, 107); }
td.t4{ background: url('assets/wumpus/gold.svg') center center/cover no-repeat rgb(206, 206, 206); }

td > img{
    position: absolute;
}

img.player{
    bottom: 0;
    left: 0;
    max-width: 75%;
    max-height: 75%;
}

img.breeze{
    top: 0;
    left: 0;
    max-width: 25%;
    max-height: 25%;
}
img.stench{
    position: absolute;
    top: 0;
    right: 0;
    max-width: 25%;
    max-height: 25%;
}
img.glitter{
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 25%;
    max-height: 25%;
}