{
    "presets": [
        ["@babel/preset-typescript", {}],
        [
            "@babel/preset-env",
            {
                "targets": {
                    "chrome": 80
                }
            }
        ],
        ["@babel/preset-react", {}]
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-optional-chaining",
        "@babel/plugin-proposal-nullish-coalescing-operator"
    ]
}
