table{
    width: 100%;
    max-height: 50%;
    border-collapse: collapse;
}

td{
    padding-top: 33%;
    border: 1px solid rgb(64,64,64);
    width: 33%;
    position: relative;
}

td.empty:hover{
    background: rgb(177, 177, 177) padding-box;
}

td.empty{ 
    background: rgb(206, 206, 206) padding-box;
}

td > img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
}