:host{
    height: 100%;
}

#wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
}

#canvas{
    width: 100%;
    height: 100%;
    min-height: 0;
}

#display{
    flex: 1 1;
    min-height: 0;
}

#messages{
    height: 10em;
    overflow: auto;
    font-size: 1.25em;
    padding: 0.25em;
    border-top: 1px solid var(--color-border);
}
#messages p{
    margin: 0.25em 0;
}

#control{
    display: flex;
}
#settings li{
    display: flex;
    align-items: center;
    position: relative;
}
#settings > ul{
    display: flex;
}

button{
    margin: 0.25em;
}


#video{
    display: none;
    position: absolute;
    top: 1.5em;
    left: 0.5em;
    max-width: 10em;
    max-height: 10em;
}
#video_container:hover > #camera:checked ~ #video{
    display: block;
}