#background{
    display: none;
}
#background[active]{
    background: rgba(0, 0, 0, 0.75);
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content{
    padding: 1em;
    border: 1px solid #000;
    background-color: #eee;
}

#yes{
    float: right;
    background-color: #5e5;
}

#no{
    float: left;
    background-color: #e55;
}

form{
    padding: 1em 0;
}

.modal {
    display: none;
}

.modal[active] {
    display: block;
    height:100%;
}