:host{
    position: absolute;
    z-index: 101;
    right: 0.5rem;
    top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form{
    position: absolute;
    top: 2rem;
    right: 0;
    background-color: var(--color-background-primary);
    padding: 0.5rem;
    border: 1px solid var(--color-border);
    border-radius: 0.5rem;
    box-shadow: 5px 5px 3px 0px var(--color-shadow);
    width: 25rem;
    /*display: none;*/
}

li{
    position: relative;
}

#description{
    box-sizing: border-box;
    width: 100%;
    min-height: 20rem;
    resize: none;
}

#characterCounter{
    position: absolute;
    bottom: 0.5rem;
    right: 0.75rem;
    color: #f22;
}

textarea.error{
    background: #fdd;
}
textarea.ok{
    background: #dfd;
}

#form label{
    min-width: 20rem;
    max-width: 20rem;
}

button#yes{
    width: 4rem;
}