:host, #wrapper{
    height: 100%;

}
#wrapper{
    display: flex;
}
#handle{
    background: var(--color-border-secondary);
    cursor: grab;
    min-width: 4px;
    min-height: 4px;
}
#start, #end{
    flex: 1;
}