:host{
    height: 100%;
}
#content{
    height: calc(100% - 1.2rem);
}
ul{
    height: 1.2rem;
    display: flex;
    box-sizing: border-box;
    background: var(--color-background-secondary);
    border-bottom: 1px solid var(--color-border);
}
a{
    padding: 0 0.5rem;
}
a:hover{
    text-decoration: none;
    color: var(--color-text);
    font-weight: bold;
}
a.active{
    background: var(--color-border-secondary);
    border-bottom: 1px solid var(--color-border-secondary);
    border-top: 1px solid var(--color-border-secondary);
}
::slotted(*){
    display: none;
}