:host{
    display: flex;
    flex-direction: column;
    overflow:auto;
}

main{
    flex: 1 1;
    min-height: 20em;
}

.page {
    display: none;
}

.page[active] {
    display: block;
    height:100%;
}

#report{
    position: absolute;
    z-index: 101;
    right: 0.5em;
    top: 0.5em;
}