:host {
  display: block;
  box-sizing: border-box;
  font-size: 16px;
}

body, html {
  height: 100%;
}

label {
  font-family: var(--font-sans-serif);
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.25em;
}

h3 {
  font-size: 1em;
}

h1, h2, h3 {
  padding: 0;
  margin: 0;
  font-family: var(--font-serif);
  font-weight: bold;
  /*text-shadow: 1px 1px 1px var(--color-shadow);*/
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  font-family: var(--font-sans-serif);
}

p {
  margin: 1em 0;
  font-family: var(--font-sans-serif);
}

a {
  text-decoration: none;
  color: var(--color-text);
  font-family: var(--font-monospace);
  cursor: pointer;
}

a:hover {
  color: var(--color-highlight);
  text-decoration: underline;
}

em {
  font-weight: bold;
  font-style: normal;
}

*[hidden] {
  display: none;
}

button {
  border-radius: 3px;
  color: black;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-align: center;
  background-color: #ddd;
  background: linear-gradient(#ddd, #bbb);
  border: 1px solid #bbb;
  /* fix browser inconsistencies */
  line-height: 1em;
  height: 1.75em;
}

button.warning {
  color: white;
  background-color: #cc3;
  background: linear-gradient(#cc3, #aa2);
  border: 1px solid #aa2;
  text-shadow: 0 -1px 0 #771;
}

button.error {
  color: white;
  background-color: #c53;
  background: linear-gradient(#c53, #a32);
  border: 1px solid #a32;
  text-shadow: 0 -1px 0 #721;
}

button.ok {
  color: white;
  background-color: #7b3;
  background: linear-gradient(#7b3, #592);
  border: 1px solid #592;
  text-shadow: 0 -1px 0 #461;
}

/* forms */

input, select {
  /* fix browser inconsistencies */
  border-width: 1px;
  border: 1px solid var(--color-border);
  line-height: 1em;
  height: 1.75em;
  background-color: white;
}

form {
  min-width: 20em;
}

form>header {
  border-bottom: 1px solid var(--color-border);
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
}

form>footer {
  border-top: 1px solid var(--color-border);
  margin-top: 0.5em;
  padding-top: 0.5em;
  display: flex;
  justify-content: space-between;
}

form select {
  height: 2.4em;
}

form>ul {
  list-style-type: none;
}

form>ul>li {
  display: flex;
  align-content: stretch;
  align-items: center;
  padding: 0.5em;
}

form>ul>li>* {
  flex: 1 1 0;
  padding: 0.25em;
  margin: 0;
}

form>ul>li>label {
  max-width: 6em;
  min-width: 6em;
  order: -1;
}

form>ul>li>label::after {
  content: ':';
}

button#yes {
  order: 1;
}

button#no {
  order: 0;
}