table{
    width: 100%;
    border-collapse: collapse;
}

td{
    padding-top: 40%;
    border: 1px solid rgb(64,64,64);
}

td.symbol0:hover{
    background: rgb(177, 177, 177);
}

.symbol0{ 
    background: rgb(206, 206, 206);
}

.symbol1{
    background: center/contain no-repeat url('assets/tictactoe/x.png');
}

.symbol2{
    background: center/contain no-repeat url('assets/tictactoe/o.png');
}