:host{
    height: 100%;
}

div#console{
    background: var(--color-background-primary);
    height: 100%;
    overflow: auto;
}

p{
    position:relative;
    white-space: pre-wrap;
    font-family: monospace; /*var(--font-monospace);*/
    margin: 0;
    padding: 0 0.5rem;
    border-top: 1px solid var(--color-background-secondary);
    border-bottom: 1px solid var(--color-border-secondary);
    margin-top: -1px;
}

p.log{
    z-index: 0;
}

p.warn{
    color: rgb(44, 39, 16);
    background: rgb(255, 242, 166);
    border-color: rgb(255, 236, 130);
    z-index: 1;
}

p.error{
    color: rgb(48, 12, 12);
    background: rgb(255, 188, 188);
    border-color: rgb(255, 149, 149);
    z-index: 2;
}

a.file{
    font-family: monospace;
    float: right;
    color: var(--color-text-weak);
    font-size: 0.7rem;
}

a.file:hover{
    color: var(--color-text);
}