.navbar:global(.navbar) {
    border-bottom: 1px solid #aaa;
    padding: 0;
}
.logo {
    margin: -0.5rem 0.5rem -0.5rem 0.5rem;
    width: 3em;
}
.breadcrumb {
    flex: 1;
}
.breadcrumb :global(.breadcrumb) {
    margin: 0;
}
