.root {
    flex: 1;
    overflow: auto; /* required to fix overfull console */
}

.loading {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loading span {
    font-size: 2rem;
    padding-left: 0.5rem;
}

.horizontal {
    display: flex;
    flex-direction: row;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.pane {
    overflow: auto;
    display: flex;
}
.pane > * {
    flex: 1;
    width: 100%;
}

.tabs > a {
    padding: 0 1rem;
}

.fillVertical {
    display: flex;
    flex-direction: column;
}
.fillVertical :global(.tab-content) {
    flex: 1;
    display: flex;
    overflow: hidden;
}
.fillVertical :global(.tab-pane.active) {
    flex: 1;
    overflow: hidden;
}

:global(.gutter) {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

:global(.gutter.gutter-horizontal) {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}

:global(.gutter.gutter-vertical) {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    cursor: row-resize;
}
